
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #832161; ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="https://img.icons8.com/fluency/48/000000/shopping-1.png" class="d-inline-block align-text-top" width="30" height="24" />
      {{title}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active" routerLink="/services">
            Our Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/services/requestaservice">Request a Services</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/services/ourstores">Our Stores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/services/contactus">Contact us</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
